<div>
	<h2 *ngIf="edit">{{product.name}} edit</h2>
	<h2 *ngIf="!edit">New product</h2>

	<label for="name"> Name </label>
	<input [(ngModel)]="product.name" name="name" placeholder="name">
	<br>

	<label for="price"> Price </label>
	<input [(ngModel)]="product.price" name="price" placeholder="555">
	<br>

	<label for="category"> Category </label>
	<input [(ngModel)]="product.category" name="category" placeholder="none">
	<br>

	<label for="image"> Image URL </label>
	<input [(ngModel)]="product.imageUrl" name="image" placeholder="http://example.com">
	<br>

	<button *ngIf="!edit" (click)="createNewProduct()">	Upload new product</button>
	<button *ngIf="edit"	(click)="update()">						Update</button>
	<button *ngIf="edit" 	(click)="reset()">						Create new product</button>
	<button *ngIf="edit" 	(click)="delete()">						Delete</button>
<!-- </div> -->
