<div>
	<span class="col-12 display-4">Total: {{this.sum}}</span>
	<button class="col-12 btn btn-primary mb-1"
					(click)="setPayment('card')"
					*ngIf="this.sum != 0"
					>
					Card
	</button>
	<button class="col-12 btn btn-secondary"
					(click)="setPayment('cash')"
					*ngIf="this.sum != 0"
					>
					Cash
	</button>

	<div class="col-12 row table-color hover" *ngFor="let product of products">
		<span class="col-4"> {{product.name}}</span>
		<span class="col-2"> {{product.price}}</span>
		<a class="col-6" (click)="removeItem(product)">Remove product</a>
	</div>
</div>
