.selected {
	background-color:red;
}

.container-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas: 
    "a a a"
    "a a a";
  align-items: start;
}

.product-tile{
	background-color:lightgray;
	/*float: left;*/
	display: inline-grid;
	margin: 10px;
	width: 30%;
	max-height: 300px;
	overflow:hidden;
	padding: 0;
	grid-area: "a";
	transition: all 0.4s ease-in-out;
}

.product-tile:active{
	transition: all 0s ease-in-out;
	transform: rotate(3deg);
	background: #66ff33;
}

.product-tile-image {
	width: 100%;
	max-height: 80%;
	margin: 0;
}

.product-tile-name {
	font-size: 22pt;
	float:left;
	display: inline;
	max-width:70%;
	overflow:hidden;
}

.product-tile-price {
	display: inline;
	font-size: 22pt;
	float:right;
	color: black;
	font-weight: bold;
	background-color: lightgreen;
	max-width:30%;
	overflow:hidden;
}