  <div id="container-products">
  <div class="product-tile" *ngFor="let product of products" (click)="onSelect(product)" [class.selected]="product === selectedProduct">
  		<div>
    	<span class="product-tile-name">{{product.name}}</span>
    	<span class="product-tile-price">{{product.price}}kr</span>
    	</div>
    	<img class="product-tile-image" src="{{product.imageUrl}}">

  </div>
</div>

<div id="container-product-detail">
<app-product-detail
  [product]="selectedProduct"
  [edit]="edit"
  (addProduct)="onAdded($event)"
  (removeProduct)="onRemove($event)"
>
</app-product-detail>
</div>
