<div class="row">
	<div class="col-12 col-md-8 col-xl-9">

		<div class="row">
			<span class="col-3">ID								</span>
			<span class="col-3">Transaction Date	</span>
			<span class="col-3">Amount						</span>
			<span class="col-3">Paymen Method			</span>
		</div>
	</div>

	<hr class="col-12">

	<div 	class="col-12 active table-color hover"
				*ngFor="let transaction of transactions"
	>
		<div 	class="row"
					[ngClass]="{'bg-danger': transaction.rejected}"
					data-toggle="collapse"
					[attr.data-target]="'#collapseTrans'+ transaction._id"
		>
			<span class="col-3">{{transaction._id}}</span>
			<!-- <a class="col-3" data-toggle="collapse" href="#collapseTrans{{transaction._id}}">{{transaction._id}}</a> -->
			<span class="col-3">{{transaction.Created_date}}	</span>
			<span *ngIf="!transaction.rejected" class="col-3">{{transaction.amountPaid}}		</span>
			<span *ngIf="!transaction.rejected" class="col-3">{{transaction.paymentMethod}}	</span>
			<span class="col-6" *ngIf="transaction.rejected==true">REJECTED</span>
			<div class="col-12 collapse" id="collapseTrans{{transaction._id}}">
				<div class="row">
					<span class="col-12">{{transaction.rejected_message}}</span>
					<span class="col-12" *ngFor="let product of transaction.products">
						{{getProductById(product).name}}
					</span>
					<button class="btn btn-danger"
									(click)="reject(transaction)"
									*ngIf="!transaction.rejected"
					>
						Reject transaction
					</button>
					<button class="btn btn-success"
									(click)="print(transaction)"
									*ngIf="!transaction.rejected"
					>
						Print recipe
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
