<div class="row">

	<div class="col-6 col-xl-2" *ngFor="let transaction of transactions">
		<div class="row">
			<span class="transaction-date">{{transaction.Created_date}}</span>
			<span class="transaction-amountPaid">{{transaction.amountPaid}}kr</span>
			<span class="transaction-method">{{transaction.paymentMethod}}</span>
		</div>

		<div class="col-12" *ngFor="let product of transaction.products">
			<span>{{getProductById(product).name}}</span>
		</div>
		<span class="col12">{{transaction._id}}</span>
		<div *ngIf="transaction.rejected==true">
			<div class="reject">
				---------- REJECTED ----------<br><br>
				{{transaction.rejected_message}}
				<br><br>---------- REJECTED ----------
			</div>
		</div>
		<div *ngIf="transaction.rejected==false">
			<div class="reject" (click)="reject(transaction)">
				Reject Transaction
			</div>
		</div>
	</div>

</div>
