:root{
  --main-color: rgb(148, 174, 251);
}
.fixed-right{
  position: fixed;
  right: 0px;
  height: 100%;
  overflow-y: auto;
}
.fixed-right::-webkit-scrollbar{
  /* Not working in firefox, have not found a replacement to get it working in fx */
  display: none;
}
.table-color:nth-child(odd) {
  background: rgb(210, 220, 251);
}
.hover:hover {
  background: var(--main-color);
}
.hidden {
  display: none;
}
.hidden:focus {
  display: block;
}
