.fixed-right{
  position: fixed;
  right: 0px;
  height: 100%;
  overflow-y: auto;
}
.fixed-right::-webkit-scrollbar{
  /* Not working in firefox, have not found a replacement to get it working in fx */
  display: none;
}
